.main {
    padding: 2vw 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main div:nth-child(1) {
    font-size: 4vw;
    text-align: center;
    display: flex;
    justify-content: center;
    display: none;
}

.main form div .add-button {
    width: 7vw;
}

.main form {
    display: flex;
    flex-direction: column;
}

.main form input[type=text] {
    background-color: #eeeeee;
    font-size: 6vw;
    padding-bottom: 2vw;
    text-align: center;
    padding: 1vw 0;
}

.main form input[type=text]:focus {
    background-color: #e7e7e7;
}

.main form input[type=submit] {
    min-width: 1rem;
    margin-top: 2vw;
    padding: 1vh 1vw;
    background-color: #000066b6;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    align-self: center;
    font-size: 4.5vw;
    border: .95px rgb(0, 0, 0) solid;
}

.main form input[type=submit]:hover {
    background-color: #0000669a;
}


/* .main form div {
    display: flex;
    font-size: 4vw;
    justify-content: center;
} */

h1 {
    font-size: 6vw;
    /* background-color: #e9e9e9; */
    margin-top: 2vw;
    text-align: center;
}

.general {}

.general ul {
    overflow: scroll;
}

.general ul li {
    background-color: #dddddd;
    font-size: 4vw;
    overflow: scroll;
    padding-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.general ul li:nth-child(even) {
    background-color: #eeeeee;
}


/* kjsndvkjnsdkvjnsdv */

.general {
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #e7e7e7; */
}

.general div {
    /* display: inline-block;
    min-width: 4vw;
    word-break: keep-all;
    margin: 3vw;
    border: rgba(0, 0, 0, 0.329) 1px solid;
    padding: 1.5vw 1.5vw 0 1.5vw;
    font-size: 5vw;
    overflow: scroll;
    text-align: center; */
}


/* kjnsdvkjsndvkjnsdv */

.general div::-webkit-scrollbar {
    width: 0px;
}

.general div p {
    margin: 0;
}