form {
    display: flex;
    flex-direction: column;
}

form input[type=text] {
    background-color: #f0f0f0;
    font-size: 6vw;
    padding-bottom: 2vw;
    text-align: center;
    padding: 1vw 0;
    outline: none;
    border: none;
}

form input[type=text]:focus {
    background-color: #e7e7e7;
}

form input[type=submit] {
    min-width: 1vw;
    margin-top: 2vw;
    padding: 1vh 1.5vw;
    background-color: #000066b6;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    align-self: center;
    font-size: 4.5vw;
    border: .95px rgb(0, 0, 0) solid;
}

form input[type=submit]:hover {
    background-color: #000066da;
}

.coll-cont h1 {
    font-size: 5.5vw;
    padding: 0 2vw;
    color: rgba(0, 0, 0, 0.637);
    margin-top: 3vw;
    letter-spacing: .5vw;
    display: flex;
    justify-content: space-between;
}

.coll-cont h1 div {
    /* display: inline-block; */
    font-size: 4vw;
    text-decoration: none;
    /* display: flex; */
    /* justify-content: flex-end; */
    padding: 0;
    color: black;
    text-align: end;
    letter-spacing: .25vw;
}

.coll-cont h1 div span {
    border-bottom: .25vw black solid;
    padding-bottom: .5vh;
    opacity: .75;
}

.coll-cont h1 div span img {
    width: 2.5vw;
}