.for-footer {
    min-height: 90vh;
}

.main {
    /* padding: 2vw 1vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main div:nth-child(1) {
    font-size: 4vw;
    text-align: center;
    display: flex;
    justify-content: center;
    display: none;
}

.main form div .add-button {
    width: 7vw;
}

.main form {
    display: flex;
    flex-direction: column;
}

.main form input[type=text] {
    background-color: #eeeeee;
    font-size: 6vw;
    padding-bottom: 2vw;
    text-align: center;
    padding: 1vw 0;
}

.main form input[type=text]:focus {
    background-color: #e7e7e7;
}

.main form input[type=submit] {
    min-width: 1rem;
    margin-top: 2vw;
    padding: 1vh 1vw;
    background-color: #000066b6;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    align-self: center;
    font-size: 4.5vw;
    border: .95px rgb(0, 0, 0) solid;
}

.main form input[type=submit]:hover {
    background-color: #000066da;
}

.general {
    height: 35vh;
    overflow: scroll;
    transition: height 1s;
    /* background-color: red; */
}

.general ul {
    margin-top: 2vw;
}

.general ul li {
    /* background-color: #0000661c; */
    font-size: 5vw;
    overflow: scroll;
    word-wrap: break-word;
    padding-top: 2vw;
    padding: 2vw 2vw 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.377) .1vw solid;
    /* position: relative; */
}

.general ul li:nth-child(even) {
    /* background-color: #eeeeee; */
}

.general ul li .content {
    width: 50%;
    text-align: left;
}

.general ul li .buttons button {
    width: 20vw;
    font-size: 4vw;
    border: none;
    background-color: transparent;
}

.general ul li .buttons button span {
    border-bottom: black .3vw solid;
    padding: 0 .5vw;
}

.general ul li .buttons button:nth-child(1) {
    margin-bottom: 1vw;
}

.general div::-webkit-scrollbar {
    width: 0px;
}

.general div p {
    margin: 0;
}

#show-button {
    font-size: 3.5vw;
    margin-top: -.5rem;
    z-index: 2;
    padding-left: 2vw;
}

#show-button .show-less {
    display: none;
}


/* IF NO TASKS */

.no-tasks {
    height: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.274);
    font-size: 6vw;
    font-weight: 550;
    background-color: #ededed;
}

.coll-cont h1 {
    font-size: 5vw;
    padding: 0 2vw;
    color: rgba(0, 0, 0, 0.637);
    margin-top: 3vw;
    letter-spacing: .5vw;
    display: flex;
    justify-content: space-between;
}

.coll-cont h1 div {
    /* display: inline-block; */
    font-size: 4vw;
    text-decoration: none;
    /* display: flex; */
    /* justify-content: flex-end; */
    padding: 0;
    color: black;
    text-align: end;
}

.coll-cont h1 div span {
    border-bottom: .25vw black solid;
    padding-bottom: .5vh;
    opacity: .75;
}

.coll-cont h1 div span img {
    width: 2.5vw;
}

.else h1 {
    font-size: 5vw;
    padding: 0 2vw;
    color: rgba(0, 0, 0, 0.637);
    margin-top: 3vw;
    letter-spacing: .5vw;
    display: flex;
    justify-content: space-between;
}

.else h1 div {
    /* display: inline-block; */
    font-size: 4vw;
    text-decoration: none;
    /* display: flex; */
    /* justify-content: flex-end; */
    padding: 0;
    color: black;
    text-align: end;
}

.else h1 div span {
    border-bottom: .25vw black solid;
    padding-bottom: .25vh;
    opacity: .75;
    padding-right: 1vw;
}

.else h1 div span img {
    width: 2.5vw;
}

.else div:nth-child(2) {
    height: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.274);
    font-size: 6vw;
    font-weight: 550;
    background-color: #ededed;
}