.coll-cont h1 {
    font-size: 5.5vw;
    padding: 0 2vw;
    color: rgba(0, 0, 0, 0.637);
    margin-top: 3vw;
    letter-spacing: .5vw;
    display: flex;
    justify-content: space-between;
}

.coll-cont h1 div {
    /* display: inline-block; */
    font-size: 4vw;
    text-decoration: none;
    /* display: flex; */
    /* justify-content: flex-end; */
    padding: 0;
    color: black;
    text-align: end;
    letter-spacing: .25vw;
}

.coll-cont h1 div span {
    border-bottom: .25vw black solid;
    padding-bottom: .5vh;
    opacity: .75;
}

.coll-cont h1 div span img {
    width: 2.5vw;
}


/* IF THERE ARE NO COLLECTIONS */

.else h1 {
    font-size: 5.5vw;
    padding: 0 2vw;
    color: rgba(0, 0, 0, 0.637);
    margin-top: 3vw;
    letter-spacing: .5vw;
    display: flex;
    justify-content: space-between;
    justify-content: baseline;
}

.else h1 div {
    /* display: inline-block; */
    font-size: 4vw;
    text-decoration: none;
    /* display: flex; */
    /* justify-content: flex-end; */
    padding: 0;
    color: black;
    text-align: end;
    letter-spacing: .25vw;
    margin-top: 2%;
}

.else h1 div span {}

.else h1 div span img {
    width: 2.5vw;
}

.else div:nth-child(2) {
    height: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.274);
    font-size: 6vw;
    font-weight: 550;
    background-color: #fbfbfb;
}


/* **************** */

@media only screen and (min-width:767px) {
    .coll-cont h1 {
        font-size: 2.5vw;
        margin-top: 1vw;
    }
    .coll-cont h1 div {
        font-size: 1.9vw;
    }
    .coll-cont h1 div span {
        border-bottom: .1vw black solid;
    }
    .coll-cont h1 div span img {
        width: 1vw;
    }
    .else h1 {
        font-size: 3vw;
        margin-top: 1.5vw;
    }
    .else h1 div {
        font-size: 2vw;
    }
    .else h1 div span img {
        width: 1vw;
        justify-self: flex-end;
    }
    .else div:nth-child(2) {
        font-size: 3vw;
        height: 50vh;
    }
}