{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/addTask.css' %}">
</head>

<body>
    <nav>
        <div class="logo">Time Man</div>
        <ul>
            <li><a href="/homepage">Home</a></li>
            <li><a href="/addTask">Add Task</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </nav>
    <aside>User: {{user.first_name}}</aside><br>
    <form action="/createTask" method="POST">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %} {% csrf_token %}
        <textarea placeholder="Add a Task" name="content" id="" cols="30" rows="10"></textarea>
        <label for="due date">
            <div>TimeFrame<span>optional</span>:</div> <input type="date" name="due_date">
        </label>
        <input type="submit" value="ADD TASK">
    </form>
    <div class="tsk-cont">
        {% if tasks %}
        <ul>
            {% for task in tasks%} {% if task.completed == False %}
            <li>{{task.content}}</li>
            <ul>
                <li>created: {{task.created_at}}</li>
                {% if task.due_date is not None %}
                <li>due date:{{task.due_date}}</li>
                {% endif %}
            </ul>
            <button>Complete</button> {% endif %}{% endfor %}
        </ul>
        {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js "></script>
    <script src="{% static 'js/addTask.js' %}"></script>
</body>

</html>