{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>

<body>
    <div class="logo-trigger"></div>
    <div class="logo">Task Man</div>
    <nav>
        <div class="nav-logo"></div>
        <ul>
            <a href="/homepage">
                <li><span>Home</span></li>
            </a>
            <a href="/addTask">
                <li>
                    <!-- <img src="https://img.icons8.com/pastel-glyph/64/000000/add-to-collection.png" /> -->
                    <span>Manage Collections</span>
                </li>
            </a>
            <a href="/logout">
                <li><span>Log out</span></li>
            </a>
        </ul>
    </nav>
    <div class="hamburger">
        <!-- <img src="https://img.icons8.com/android/24/000000/chevron-left.png" /> -->
        <!-- <img src="https://img.icons8.com/android/24/000000/chevron-left.png" /> -->
        <img src="https://img.icons8.com/ios-filled/50/000000/menu-rounded.png" />
    </div>
    <div class="main">
        <div><img class="add-button" src="https://img.icons8.com/cotton/64/000000/add--v2.png" /> Add a General Task</div>
        <form action="/createGeneralTask" method="POST">
            {% csrf_token %}
            <input name="content" id="add-text" type="text" placeholder="Add General Task e.g Get Milk" autocomplete="off">
            <!-- <div><img class="add-button" src="https://img.icons8.com/cotton/64/000000/add--v2.png" />Add a Time Frame</div> -->
            <input type="submit" value="Add Task">
        </form>
    </div>
    <!-- <h1>General Tasks</h1> -->
    <div class="general">
        <ul>
            {% for task in user_tasks %}
            <li>
                <div class="content">{{task.content}}</div>
                <div class="buttons">delete // complete</div>
            </li>
            {% endfor %}
        </ul>
        <!-- {% for task in user_tasks %}
        <div>
            <p>{{task.content}}</p>
            <button>Completed</button>
        </div>
        {% endfor %} -->
    </div>
    <div class="collections">

    </div>
    <footer>
        <!-- <a href="https://icons8.com/icon/70761/chevron-left">Chevron Left icon by Icons8</a> -->
        <a href="https://icons8.com/icon/36389/menu-rounded">Menu Rounded icon by Icons8</a>
        <div class="name">Developed by: Vincent Salazar</div>
        <div>Logged in as: {{user.first_name}}</div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
</body>

</html>