{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/singleCollection.css' %}">
</head>

<body>
    <div class="logo-trigger"></div>
    <div class="logo">Task Man</div>
    <nav>
        <div class="nav-logo">X</div>
        <ul>
            <li><a href="/homepage"><span>Home</span></a></li>
            <li><a href="/collections"><span>Manage Collections</span></a></li>
            <li><a href="/logout"><span>Log out</span></a></li>
        </ul>
    </nav>
    <div class="hamburger">
        <img src="https://img.icons8.com/ios-filled/50/000000/menu-rounded.png" />
    </div>
    <h3>{{collection.title}}</h3>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js "></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/.js' %}"></script>
</body>

</html>